*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", "Sans-Serif";
}
body {
  font-weight: 400;
  line-height: 1.8rem;
}
.header_primary {
  font-size: 2.6rem;
  padding: 2rem 0 2rem 0;
}
.wrap_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Aside option styles */

aside {
  display: flex;
  flex-direction: column;
}

/* Main container styles */

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter {
  padding: 2rem 0 2rem 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.search_text {
  padding: 1.2rem 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
}
.search_btn {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  padding: 1.2rem 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.search_btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.countries_card_container {
  flex-basis: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}

.country_card {
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.051);
  height: 55rem;
  width: 30rem;
  max-height: max-content;
}
/* Flickering flip fix */
.country_card:hover .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  transform-style: preserve-3d;
  box-shadow: 0 1.5rem 4rem rgba(246, 243, 243, 0.15);
  position: relative;
}
.card_front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.card_back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.card:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card_picture {
  background-size: cover;
  padding: 2rem 2rem;
}
img {
  width: 100%;
  height: 13rem;
}

.country_data {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.country_name {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
  line-height: 2.5rem;
  text-align: center;
  min-height: 5rem;
}
.country_capital {
  margin-top: 1rem;
}
.country_region {
  margin-top: 1rem;
}
.country_row {
  margin-top: 2rem;
}

.fa-solid {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
}

.map {
  height: 55rem;
  width: 30rem;
  position: absolute;
  top: 0;
  left: 0;
}

/* Media queries */

@media only screen and (max-width: 1350px) {
  .countries_card_container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .main_container {
    width: 100%;
  }
  .countries_card_container {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    gap: 0;
  }
}
@media only screen and (max-width: 850px) {
  .countries_card_container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media only screen and (max-width: 660px) {
  .countries_card_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
